@font-face {
  font-family: a_lcdnovaoblregular;
  src: url('../../assets/fonts/a_lcdnovaobl_allfont.ru-webfont.woff');
}

.Calculator {
  margin: 20px auto;
  padding: 15px;
  width: 320px;
  text-align: right;
  border: 1px solid #333;
  border-radius: 5px;
}

.Calculator-screen {
  height: 80px;
  padding: 28px 10px;
  font-size: 24px;
  background: #eee;
  border: 1px solid #333;
  font-family: 'a_lcdnovaoblregular', sans-serif;
  position: relative;
}

.Calculator-memory {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 14px;
  display: none;
}

.Calculator-memory.Visible {
  display: block;
}

.Calculator-keyboard {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Calculator-keyboard .Btn {
  margin: 10px 0;
  width: 18%;
  font-weight: bold;
}