@font-face {
  font-family: a_lcdnovaoblregular;
  src: url('../../assets/fonts/a_lcdnovaobl_allfont.ru-webfont.woff');
}

.UnLocker {
  margin: 20px auto;
  padding: 15px;
  width: 280px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 5px;
}

.UnLocker-screen {
  height: 80px;
  padding: 28px 10px;
  font-size: 24px;
  font-weight: bold;
  background: #eee;
  border: 1px solid #333;
}

.UnLocker-screen.Access-Granted {
  font-family: 'a_lcdnovaoblregular', sans-serif;
  color: darkgreen;
  box-shadow: inset 0 0 30px 15px lightgreen;
}

.UnLocker-screen.Access-Denied {
  font-family: 'a_lcdnovaoblregular', sans-serif;
  color: darkred;
  box-shadow: inset 0 0 30px 15px palevioletred;
}

.UnLocker-keyboard {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.UnLocker-keyboard .Btn {
  margin: 10px 0;
  width: 30%;
}